.buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
}
.menu-buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100px;
}
.menu-buttons button{
    height: 40px;
    width: 80px;
    margin-right: 20px;

    border-radius: 30px;
    border: none;
}
.modal-button{
    width: 500px;
    height: 50px;
    display: flex;
    justify-content: end;
}
.header-text{
    font-size: 25px;
    font-weight: 400;
}
.line{
    width: 100%;
    height: 2px;
    background-color: rgb(216, 216, 216);
    margin: 30px 0px;
}
.to-do-item{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.to-do-item img, input{
    margin: 0px 5px;
}
.to-do-item img {
    height: 11px;
}
.to-do-item .todo-text{
    margin-left: 5px;
    text-decoration: none;
}
.to-do-item .done{
    margin-left: 5px;
    text-decoration: line-through;
    color: #b3b3b3;
}
.add-button{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: none;
    background-color: #081e34;
    color: #fff;
    font-weight: 600;
    font-size: 40px;
    margin: 25px 20px;
}

.to-do-item .more-button{
    background-image: url(./assets/vector.png);
    background-repeat: no-repeat;
    background-size: 3px 13px;
    background-position: center;
    border: none;
    background-color: #fff;
    height: 20px;
    width: 5px;
}

.not-active{
    background-color:#F0F0F0;   
}
.active{
    background-color:rgba(8, 30, 52, 0.42);
}
.trash-modal-in-trash, .trash-modal{
    background-color: rgb(216, 216, 216);
    border-radius: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.trash-modal-in-trash{
    height: 55px;
    width: 200px;
    justify-content: space-evenly;
    position: relative;
    top: 3em;
    left: -5em;
}
.trash-modal{
    height: 30px;
    width: 150px;
    justify-content: center;
    position: relative;
    top: 2em;
    left: -5em;
}
.trash-modal-in-trash .delete-forever, .trash-modal-in-trash .move-back, .trash-modal button{
    margin-left: 10px;
    width: 140px;
    border: none;
    background-color: rgb(216, 216, 216);
    color: #000;
    font-size: 12px;
    background-repeat: no-repeat;
    background-size: 10px 15px;
    padding-left: 17px;
    text-align: start;
}

.trash-modal-in-trash .delete-forever, .trash-modal button{
    background-image: url(./assets/trash.png);
}

.trash-modal-in-trash .move-back{
    background-image: url(./assets/moveBack.png);
}
